* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cornflowerblue;
}

.image-container {
  text-align: center;
}

.image-container img {
  margin: 1.25rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.8);
  background-color: lightgray;
  width: 15rem;
  height: 15rem;
}

.btn {
  background-color: violet;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.btn:hover {
  background-color: blueviolet;
}
